body {
 font-family: Arial, Helvetica, sans-serif;
 background-color: #ccc;
}

#headPage {
  height: 500px;
  width: 600px;
  margin: auto;
}

#title {
  font-size: 1.7em;
  text-align: center;
  margin: 0.7em 0 0.7em 0;
  padding-top: 0.5em;
}

#description {
  font-size: 1.1em;
  text-align: center;
}

#calc {
  background-color: #eeeeee;
  border-radius: 5px;
  width: 230px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#display {
  background-color: white;
  border: 1px solid #b5b8b9;
  border-radius: 2.5px;
  height: 2.5em;
  margin: 1em 1em 0 1em;
}

#display p {
  padding: 0.75em 0.5em 0.7em 0;
  text-align: end;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  padding: 20px;
}

#plusSign {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

#backspaceBtn {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

#equalSign {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
  background-color: #5ca5ff;
  border: 1px solid #4175b5 !important;
}

.clearBtn {
  background-color: #ff7979;
  border: 1px solid #c25c5c !important;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.operator {
  background-color: #5ca5ff;
  border: 1px solid #4175b5 !important;
}

#zeroNum {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

button {
  border: 1px solid #b5b8b9;
  border-radius: 2.5px;
}
